# Azure IaC
azure_rsa
azure_rsa.pub
azure_secrets.json
azure_terraform/01_LinuxVM_Deployment/.terraform*
azure_terraform/01_LinuxVM_Deployment/terraform.tfs*
azure_terraform/02_LoadBalancer_WindowsVMs_Deployment/.terraform*
azure_terraform/02_LoadBalancer_WindowsVMs_Deployment/terraform.tfs*
azure_terraform/03_WebApp_Deployment/.terraform*
azure_terraform/03_WebApp_Deployment/terraform.tfs*
azure_terraform/04_AzureFirewall_WindowsVM_Deployment/.terraform*
azure_terraform/04_AzureFirewall_WindowsVM_Deployment/terraform.tfs*
azure_terraform/05_AzureApplicationGateway_WindowsVM_Deployment/.terraform*
azure_terraform/05_AzureApplicationGateway_WindowsVM_Deployment/terraform.tfs*
azure_terraform/keys

# GCP IaC
gcp_iac/gcp_keys
gcp_iac/gcp_gce/.terraform*
gcp_iac/gcp_gce/terraform*

# aws IaC
aws_terraform/keys
aws_terraform/vm_infrastructure/.terraform*
aws_terraform/vm_infrastructure/terraform.tfs*

aws_terraform/keys
aws_terraform/eks_infrastructure/.terraform*
aws_terraform/eks_infrastructure/terraform.tfs*